* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  padding-bottom: 30px;
  font-size: 60px;
  font-weight: 200;
  font-family: "Raleway - Extra Light", sans-serif;
  color: $header-color;
  text-align: center;
}

.container {
  max-width: 1470px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}