.container {
  position: relative;
  margin: 0 auto;
  padding: 15px 0;
  max-width: 1820px;
  width: 100%;
}

.container-min {
  position: relative;
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1170px;
  width: 100%;
}