input[type=email] {
  width: 100%;
  font-family: $font-droid-sans-regular;
  font-size: 16px;
  background-color: $color-white;
  color: $color-default;
  outline: none;
  border: none;
}

::placeholder {
  font-family: $font-droid-sans-regular;
  font-weight: 400;
  font-size: 16px;
  color: $color-basic;
}