
table {
  padding-top: 100px;
  padding-bottom: 20px;
}

th {
  font-family: $font-oswald-medium;
  color: $color-primary;
  font-size: 22px;
  text-align: left;
  line-height: 100px;
}

td {
  font-family: $font-droid-sans-regular;
  color: $color-primary;
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 1023px) {
  table {
    padding: 0;
  }

  th {
    line-height: 50px;
  }
}