$font-open-sans: ('Open Sans', sans-serif);

$font-droid-sans-regular: ('Droid Sans - Regular', sans-serif);

$font-droid-sans-bold: ('Droid Sans - Bold', sans-serif);

$font-great-vibes: ('Great Vibes', sans-serif);

$font-oswald-regular: ('Oswald - Regular', sans-serif);

$font-oswald-medium: ('Oswald Medium', sans-serif);

$font-oswald-heavy: ('Oswald - Heavy', sans-serif);


$color-white: #ffffff;

$color-basic: #282828;

$color-default: #df001f;

$color-primary: #333333;